name: Deploy Vue App
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Build
        run: |
          npm install
          npm run build
        # 生成的文件夹通常叫 dist，如果你的叫 build 请自行修改下面的 SOURCE

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.ALIYUN_PRIVATE_KEY }}
          ARGS: "-rltgoDzvO"
          SOURCE: "dist/"
          REMOTE_HOST: ${{ secrets.ALIYUN_IP }}
          REMOTE_USER: ${{ secrets.ALIYUN_USER }}
          # 下面这行填宝塔里生成的根目录！
          TARGET: "/www/wwwroot/tool1.teacherlab.top"