name: Deploy to Aliyun

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Deploy to server
      uses: easingthemes/ssh-deploy@v4.1.5
      with:
        ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}
        remote-host: ${{ secrets.SERVER_IP }}
        remote-user: root
        target: "/www/wwwroot/teacherlab.cn"
        args: "-avzr --delete"
        source: "./"
